---
---



.background {
  position: relative;
  background: transparent;   /* 先禁用黑色背景 */
  color: var(--text);
  z-index: 1;
  min-height: 100vh;         /* 确保有高度 */
}

.background:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/mig-lab-website/images/background.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;                 /* 提高可见度，后面再微调 */
  z-index: -1;
}


.gif-bg-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  overflow: hidden;
}

.gif-bg-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}
